*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(0, 119, 255);
}

.cabecalho > h1 {
    text-align: center;
    margin: 20px 0px;
    color: white;
}

.principal{
    position: relative;
    height: 400px;
    width: 600px;
    background-color: white;
    margin: 0px auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.233);
    border-radius: 10px;
    padding: 15px;
}

.rodape span{
    display: block;
    text-align: center;
    margin-top: 20px;
    color: white;
}

/* AJUSTE INDIVIDUALMENTE A PARTIR DAQUI */

section > div + div{
    margin-top: 15px;
}

input[type="button"]{
    margin-top: 20px;
}